@font-face {
  font-family: Amaranth-Regular;
  src: url(../fonts/Amaranth-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

#wrapper {
  max-width: 968px;
  margin: auto;
  color: #454545;
}

#main {
  text-align: center;
  margin: 8px;
}

#main h1 {
  font-family: "Amaranth-Regular";
  color: #949494;
}

#main h2 {
  font-family: "Roboto-Thin";
  color: #898989;
}

#main p {
  text-align: justify;
}

#mapid {
  height: 60vh;
  margin: 20px auto;
}

#improve {
  font-size: 12px;
  vertical-align: middle;
  background-color: #EEEEEE;
  padding: 10px;
  border-radius: 2px;
  margin-top: 30px;
}
